.text_decoration {
  text-decoration: underline !important;
}

.simulacro_description {
  background-color: rgb(51 255 0 / 100%);
  padding: 1vh;
  color: black;
}

.capitalize {
  text-transform: capitalize;
}
