.text_decoration {
  text-decoration: underline !important;
}

.simulacro_description {
  background-color: rgb(51 255 0 / 100%);
  padding: 1vh;
  color: black;
  line-height: normal !important;
  a {
    color: black !important;
    line-height: normal !important;
  }
}

.capitalize {
  text-transform: capitalize;
}

.separator {
  width: 7vw;
}

.tooltip {
  padding: 0 0 !important;
  background-color: #33ff00;
  padding: 1vh;
  color: black;
  line-height: normal !important;
  border-style: none !important;
  border-radius: 0 !important;
  padding-left: 1vh !important;
  padding-right: 1vh !important;
}
