.html {
  overscroll-behavior: none;
}

/* Hide scrollbar for Chrome, Safari and Opera  */
.hide_scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hide_scrollbar {
  -ms-overflow-style: none;
}

.main_layout {
  // background-color: #212121;
  height: 100vh;
  width: 100%;
  // background-image: url('/grid_group-11.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  // position: fixed;
  color: white;
  font-family: Hack;
  font-size: 0.9rem;
  background-size: 100%;
  cursor: crosshair;
  p {
    animation: typing 2s steps(50, end), blink-caret 0.5s step-end infinite;
  }
  a {
    // text-decoration: none;
    color: white;
    line-height: 4vh;
    cursor: crosshair;
    z-index: 9999999;
    position: relative;
    &:hover {
      background-color: rgb(0 0 0 / 25%);
      // border-style: solid;
      border-color: rgba(0, 0, 0, 0.25);
      z-index: 9999999999;
      visibility: visible;
    }
  }
  .secondary_button {
    &:hover {
      background-color: #33ff00 !important;
      color: black !important;
    }
  }

  ul > li {
    list-style: none;
  }
}

.no_bullet {
  list-style: none !important;
}

.no_margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.no_padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.right_col {
  //   width: fit-content;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  //   justify-content: flex-end;
}

.main_title {
  width: fit-content;
  align-items: flex-end;
  background-color: rgb(0 0 0 / 25%);
  padding: 1vh;
  text-decoration: none;
}

.menu {
  //width: fit-content;
  //   justify-content: flex-end;
}

.main_row {
  height: 100vh;
  justify-content: space-between;
}

.height_100_percent {
  height: 100%;
}

.rowoverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  bottom: 0;
  right: 0;
  height: 100%;
}

.position_relative {
  position: relative;
}

//////@at-root

.first_row {
  align-items: flex-start;
  height: 10vh;

  // white-space: nowrap;
  // height: fit-content;
  line-height: normal;
  padding-top: 35px;
  // flex-wrap: nowrap;
}

.r1_first_column {
  // overflow-y: scroll;
}

.r2_first_column {
  padding-right: 10vw;
}

.second_row {
  overflow-x: auto;
  white-space: nowrap;
  height: fit-content;
  line-height: normal;
  flex-wrap: nowrap;
  padding-bottom: 3vh;
  padding-top: 3vh;
}

.third_row {
  // align-content: space-between !important;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

.title_simulacro {
  text-align: end;
  z-index: 9;
}

.scroll_box {
  height: 50vh;
  overflow-y: scroll;
  margin-bottom: 16vh;
  z-index: 9999999;
  position: relative;

  ul {
    padding-left: 1rem;
  }
}

.padding_5vh {
  padding-bottom: 5vh;
}

.padding_2vh {
  padding-bottom: 2vh;
}

.font_title {
  font-size: 1.2rem;
  &:hover {
    color: #212121;
    background-color: d1d1d1 !important;
  }
}

.color_animation_0 {
  &:hover {
    color: #212121;
    background-color: aqua !important;
  }
}

.color_animation_1 {
  &:hover {
    color: #ff0000;
    background-color: #672a8a !important;
  }
}

.color_animation_2 {
  &:hover {
    color: #212121;
    background-color: #d1d1d1 !important;
  }
}

.color_animation_3 {
  &:hover {
    color: #ff0000;
    background-color: #ffffff !important;
  }
}

.color_animation_4 {
  &:hover {
    color: #0038ff;
    background-color: #ffffff !important;
  }
}

.color_animation_5 {
  &:hover {
    color: #668ab3;
    background-color: #d1d1d1 !important;
  }
}

.color_animation_6 {
  &:hover {
    color: #212121;
    background-color: #d1d1d1 !important;
  }
}

.color_animation_7 {
  &:hover {
    color: #ffffff;
    background-color: #d1d1d1 !important;
  }
}

.color_animation_8 {
  &:hover {
    color: #ffffff;
    background-color: #000000 !important;
  }
}

.link_decoration {
  text-decoration: underline;
}

/* Efeito typewrite */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Efeito do cursor */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #00ff00;
  }
}

.square {
  background-color: #ff0000;
  width: 1.2vh;
  height: 1.2vh;
  float: left;
  padding: 2.95vh;
  margin-right: 3vh;
}

.li_alignment {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.color_style_0 {
  background-color: #212121;
  background-image: url('/grid_group-11.svg');
}

.color_style_1 {
  background-color: #ff0000;
  background-image: url('/grid_group-02.svg');
}

.color_style_2 {
  background-color: #0038ff;
  background-image: url('/grid_group-03.svg');
}

.color_style_3 {
  background-color: #00f0ff;
  background-image: url('/grid_group-03.svg');
  color: #000000;

  a {
    color: #000000;
  }
}

.color_style_4 {
  background-color: #00f0ff;
  background-image: url('/grid_group-05.svg');
  color: #000000;
  a {
    color: #000000;
  }
}

.color_style_5 {
  background-color: #668ab3;
  background-image: url('/grid_group-06.svg');
  color: #ffffff;
  a {
    color: #ffffff;
  }
}

.color_style_6 {
  background-color: #212121;
  background-image: url('/grid_group-06.svg');
}

.color_style_7 {
  background-color: #ffffff;
  background-image: url('/grid_group-06.svg');
  color: #000000;
  a {
    color: #000000;
  }
}

.color_style_8 {
  background-color: #ffffff;
  background-image: url('/grid_group-12.svg');
  color: #000000;
  a {
    color: #000000;
  }
}

.tooltip_title {
  // padding: 0 0 !important;
  background-color: #33ff00;
  color: black;
  line-height: normal !important;
  border-style: none !important;
  border-radius: 0 !important;
  padding: 1vh !important;
  z-index: 999999999 !important;
  overflow: hidden !important ;
  font-size: 1.2rem !important;
  line-height: 4vh !important;
}
